// Header
header {
	position: relative;
	width: 100%;
	height: auto;
	border-bottom: 2px solid $bc-primary;
	overflow: hidden;
	.overlay-bubbles {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to right, $color-2, $color-1);
		img {
			opacity: 0.1;
		}
	}
	.header-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	nav {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 20px auto;
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				display: flex;
				align-items: center;
				height: 50px;
				padding: 0 20px;
				border-left: 1px solid white;
				color: white;
				&:last-child {
					border-right: 0px solid white;
				}
				a {
					color: white;
					text-decoration: none;
					transition: $transition;
					&:hover {
						color: $bc-secondary;
						transition: $transition;
					}
				}
			}
		}
	}
	.event-host {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		.logo-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			max-width: 100%;
			padding: 12px;
			img {
				height: 60px;
				width: auto;
				max-width: 100%;
				object-fit: contain;
			}
		}
		.host-infos {
			padding: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.site-subtitle {
				font-size: 20px;
				line-height: 27px;
				font-weight: 400;
				color: white;
			}
		}
	}
}
@media screen and (min-width: 992px) {
	header {
		width: 100%;
		.header-wrapper {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}
		.separation {
			position: relative;
			z-index: 0;
			width: 5px;
			height: 100%;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.event-host {
			margin: 0 auto;
			padding: 0 0 0 50px;
			height: $header-height;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			.site-title {
				text-align: left;
			}
			.logo-wrapper {
				padding: 0 50px 0 0;
			}
			.host-infos {
				margin: 0;
				padding: 0 0 0 30px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				font-size: 24px;
				line-height: 30px;
				text-align: left;
				height: 110px;
			}
		}
	}
}
@media screen and (min-width: 1200px) {
	header {
		position: fixed;
		top: 0;
		z-index: 900;
		.header-wrapper {
			flex-direction: row;
			height: $header-height;
		}
		.event-host {
			.host-infos {
				margin: 0;
				padding: 0 0 0 50px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				text-align: left;
				.site-title {
					font-weight: 300;
					text-align: left;
				}
				.event-host-name {
					font-weight: bold;
					color: $bc-primary;
					text-align: left;
				}
			}
		}
		.site-title {
			color: $body-color;
		}
	}
}
